* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.nav-container {
  width: 100%;
  height: 7rem;
  background-color: #4d4847;
  display: flex;
  align-items: flex-end;
}
.title-container {
  width: 100%;
  height: 75%;
  padding-left: 2rem;
}
.nav {
  padding: 20px 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-link {
  color: #f4fff8;
}

.nav-title {
  font-size: 2.5rem;
  color: #f4fff8;
  font-family: "Oswald";
  font-weight: 900;
  margin-right: auto;
}

.regular-nav {
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4rem;
  font-size: 1.5rem;
}

.menu-button-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-button-mobile {
    display: block;
  }
  .title-container {
    padding-left: 1rem;
  }
  .close-menu-button {
    position: fixed;
    top: 4%;
    left: 2%;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #4d4847;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: auto;
  }
  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    position: fixed;
    top: 10%;
    left: 10%;
  }

  .nav-list li:active {
    background-color: #04aa6d;
    color: white;
  }

  .nav-list li:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .regular-nav {
    display: none;
  }
  .nav {
    height: 6rem;
  }

  .nav-title {
    font-family: "Honk";
    font-size: 2rem;
  }
}
